.nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        gap: 2rem;
    }
}

.nav__link {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: background-color .3s;
    font-weight: 700;
}

.nav__link-cart {

    position: relative;
    color: var(--white);
    padding: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('/img/icons/carrito.png');
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s;

}

.counter {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1.1rem;
    right: -0.5rem;
    color: var(--white);
    margin: 0;
    line-height: 0;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: red;
    height: 1.6rem;
    width: 1.6rem;
    /* text-align: center; */
}

.counter-active{
    display: flex;
}

.nav__link-cart:hover,
.active-cart {
    transform: scale(1.3);
}

.nav__link:hover,
.active {
    background-color: var(--primary);
}